@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

#tittle-item{
    color: white;
    width: 5rem;
    padding-top: 5.5px;
    font-family: 'IM Fell French Canon', serif;
    font-size: x-large;
}

.tittle-item-container{
    background-color: #6DB0FF;
    width: 16rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.main-container-menu{
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    padding-bottom: 4rem;
}
.container-item-menu{
    background-color: white;
}
#menu-img-item{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: translate(30px,-40px);
}
#arrow-container{
    align-self:self-start;
    padding-right: 5px;
    padding-top: 11px;
    
}
.arrow-open{
    animation: rotate 1s forwards;
}
@keyframes rotate {
    100%{
        transform: rotate(90deg);
    }
}

.Ani-map-open{
    opacity: 0;

    animation: Appear 1.5s forwards;
}

@keyframes Appear {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}